$css-prefix: emojionearea !default;

$text-color: #555555 !default;
$placeholder-color: #BBBBBB !default;
$bg-color: #FFFFFF !default;
$border-color: #CCCCCC !default;
$border-radius: 3px !default;
$box-shadow-inset: inset 0 1px 1px rgba(0, 0, 0, .075) !default;
$box-shadow-focused: 0 0 8px rgba(102, 175, 233, .6) !default;
$border-color-focused: #66AFE9 !default;
$font-size: 14px !default;
$z-index: 90 !default;
$sprite: 'sprite.png';
$standalone-placeholder: 'placeholder.png';

$picker-border-radius: 5px !default;
$picker-bg: #FFFFFF !default;
$picker-width: (10 * 32px + 28px);
$picker-height: 276px;

$filters-bg: #F5F7F9 !default;
$filters-bg-hover: #F5F7F9 !default;
$filters-bg-active: #FFFFFF !default;
$filters-height: 40px;

$search-height: 40px;

$inline-height: 34px;