@import "compass/css3";

.emojionearea {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    @include border-radius(4px);
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
    @include transition(border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s);
    @include box-sizing(border-box);

    &.focused {
        border-color: #66afe9;
        outline: 0;
        @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6));
    }

    .emojionearea-editor {
        display: block;
        //width: 100%;
        height: auto;
        min-height: 34px;
        padding: 6px 12px;
        line-height: 1.42857143;
        font-size: inherit;
        color: #555;
        background-color: inherit;
        background-image: none;
        border: 0;
        cursor: text;
        @include border-radius(0);
        @include box-shadow(none);
        &:focus {
            border: 0;
            outline: 0;
            @include box-shadow(none);
        }

        .emojione {
            height: 1.2em;
        }
    }

    .emojionearea-filters {
        background: #e5e5e5;
        width: 100%;
        height: auto;
        border-top: 1px solid rgba(0,0,0,0.1);
        .emojionearea-filter {
            top: 0 !important;
            margin: 0;
            width: 32px;
            height: 32px;
            display: inline-block;
            background-color: #e5e5e5;
            border: 9px solid #e5e5e5;
            border-left-width: 14px;
            border-right-width: 14px;
            @include opacity(0.7);
            &:hover {
                background-color: #f2f2f2;
                border-color: #f2f2f2;
                @include opacity(0.9);
            }
            &.active {
                background-color: #f9f9f9;
                border-color: #f9f9f9;
                @include opacity(1);
            }
        }
    }

    .emojionearea-tabs {
        padding: 16px 10px 10px;
        background: #f9f9f9;
        [class*=emojione-] {
            margin: 4px;
            width: 24px;
            height: 24px;
        }
    }
}